$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-etsy: "\e90c";
$icon-ko-fi: "\e907";
$icon-furaffinity: "\e906";
$icon-website: "\e908";
$icon-twitter: "\e905";
$icon-brand: "\e905";
$icon-tweet: "\e905";
$icon-social: "\e905";
$icon-youtube: "\e909";
$icon-brand1: "\e909";
$icon-social1: "\e909";
$icon-telegram: "\e90a";
$icon-brand2: "\e90a";
$icon-social2: "\e90a";
$icon-facebook: "\e90b";
$icon-brand3: "\e90b";
$icon-social3: "\e90b";
$icon-home: "\e904";
$icon-calendar: "\e903";
$icon-bubble-lines: "\e900";
$icon-bubble: "\e900";
$icon-comment: "\e900";
$icon-chat: "\e900";
$icon-talk: "\e900";
$icon-tshirt: "\e901";
$icon-shirt: "\e901";
$icon-team: "\e901";
$icon-member: "\e901";
$icon-brush: "\e902";
$icon-paint: "\e902";
$icon-art: "\e902";

